<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhnacademy.booklay.batch.booklaybatch.order.mapper.OrderMapper">
    <select id="totalPaymentByMemberNo" resultType="Long">
        select sum(payment_price)
        from order
        where memberNo = #{memberNo}
        and ordered_at <![CDATA[<=]]> (last_day(now() - interval 1 month) + interval 1 day)
        and ordered_at <![CDATA[>]]> (last_day(now() - interval 2 month) + interval 1 day)
    </select>
</mapper>기